* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
/*  background: url('http://2.bp.blogspot.com/-6I6wlk20YJg/TxxzW4KcjjI/AAAAAAAAAL8/JYs-nsbn2QI/s1600/recipe-cards-pile-med.jpg') no-repeat center center fixed;
  background-size: cover; */
}

h1 {
  text-align: center;
  font-size: 8vh;
}

.js-search-form label,
.js-search-form input,
.js-search-form button {
  display: block;
  padding: .2em .5em;
  margin: auto;
  width: 75%;
  font-size: 4vh;
}

.result-area {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  border: 2px yellow solid;
}


.videoIcon {
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  background-color: Red;
  color: #d9d9d9; 
  border-radius: 5px;
}
#vidResult {
 display: none;
    outline: 5px solid red;
    background-color: rgb(10,10,10); 
    background-color: rgba(10,10,10,0.9);
    z-index: 10;
    width: 75vw;
    height: 70vh;
    position: fixed;
    margin:auto;
    top: 50%;
    transform: translateY(-50%);
    overflow: scroll; 
}

#closeButton {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    cursor: pointer; 
}

.result-area {
  display: none; 
}

.hidden {
  display: none; 
}

h2 {
  text-align: center; 
}

.ingredient-ul {
  border: 2px red solid;
}

.ingredientItems {
  border: 2px blue solid;
  width: 50%;
  float: left; 
  max-height: 200px;
  overflow: scroll; 
}

.thumbnail{
  width: 50%;
  float: left; 
}

.search-results-written {
  border: 2px green solid; 
}    

.single-result {
  border: 2px grey dotted;
  text-align: left;
  float: left; 
  width: 33.3333%;
}
    